{{ define "title" }}Account addresses - {{ .StoreName }}{{ end }}

{{ define "content" }}
  <h2>Account Details</h2>

  <div class="account-details">
      {{ if .Data.Addresses }} 
    <ul class="product-list">
      {{ range .Data.Addresses }}
      <a href="/account/addresses/{{ .ID }}"></a>
        <li>
            <strong>{{ .Name }}</strong>
            <p>{{ .Address }}</p>
            <p>{{ .City }}</p>
            <p>{{ .PostalCode }}</p>
            <p>{{ .Country }}</p>
            <p>{{ .Phone }}</p>
            <p>{{ if .IsShipping }}<strong>Shipping {{ if .IsShippingDefault }}(default){{ end }}</strong>{{ end }} {{ if .IsBilling }}<strong>Billing {{ if .IsBillingDefault }}(default){{ end }}</strong>{{ end }}</p>
            
        </li>
      </a>
      {{ end }}
    </ul>
      {{ else }}
      <p>No account addresses yet</p>
      {{ end }}
  </div>

  
{{ end }}
