{{ define "title" }}Admin - Products - {{ .StoreName }}{{ end }}

{{ define "content" }}
<div class="admin-panel">
  <h2>Manage Users</h2>

  {{ if .Data }}
    <table class="admin-table">
      <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Admin</th>
            <th>Created at</th>
            <th>Updated at</th>
            <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {{ range .Data }}
        <tr>
            <td>{{ .FullName }}</td>
            <td>{{ .Email }}</td>
            <td>{{ .IsAdmin }}</td>
            <td>{{ .CreatedAt }}</td>
            <td>{{ .UpdatedAt }}</td>
          
          <td>
            <a href="/admin/users/{{ .ID }}/edit">Edit</a> |
            <form action="/admin/users/{{ .ID }}/delete" method="POST" style="display:inline;">
              <button type="submit" onclick="return confirm('Delete this user?')">Delete</button>
            </form>
          </td>
          
        </tr>
        {{ end }}
      </tbody>
    </table>
  {{ else }}
    <p>No products found.</p>
  {{ end }}
</div>
{{ end }}
